<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:simple="http://cxf.apache.org/simple"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://cxf.apache.org/simple http://cxf.apache.org/schemas/simple.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- 注册相关后置处理器,扫描包路径下的注解配置 
		<context:component-scan base-package="org.cnmd.mall" />
	-->
	<!-- 初始化properties文件,变量值可通过系统属性更改 -->
	<bean id="propertyConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:conf/main-setting.properties</value>
		</property>
		<property name="systemPropertiesModeName"
			value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	</bean>

	<!-- 设定transactionManager 
		<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
		</bean>
	-->
	<!-- 配置事务AOP切入类 
		<aop:config>
		<aop:advisor
		pointcut="execution(* org.cnmd.mall.*.service.impl.*.*(..))"
		advice-ref="txAdvice" />
		</aop:config>
		
		<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
		<tx:method name="add*" propagation="REQUIRED" />
		<tx:method name="modify*" propagation="REQUIRED" />
		<tx:method name="delete*" propagation="REQUIRED" />
		<tx:method name="do*" propagation="REQUIRED" />
		</tx:attributes>
		</tx:advice>
	-->
	<!--===================== webservice ===================== -->
	<context:component-scan base-package="org.cnmd.common.webservice" />
	<import resource="classpath*:META-INF/cxf/cxf.xml" />
    <import resource="classpath*:conf/spring/spring-cxf.xml"/>
	 <!-- 
	<simple:server id="helloService" serviceClass="helloService"
		address="/soap/hello">
		<simple:serviceBean>
			<ref bean="helloServiceImpl" />
		</simple:serviceBean>
	</simple:server>
	 -->
	<!--  
		<jaxws:endpoint id="helloService"  
		implementor="org.cnmd.common.webservice.HelloService"  
		address="/helloService"> 
		</jaxws:endpoint>
	-->
	<!--<import resource="classpath*:conf/cxf-webservice.xml" />-->
</beans>